# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=10000000
TERM=xterm
setopt incappendhistory autocd extendedglob histignorespace histignoredups histreduceblanks histignorespace histnostore extendedhistory
unsetopt beep nomatch notify
bindkey -e
bindkey    "^[[3~"          delete-char
bindkey    "^[3;5~"         delete-char

zstyle ':completion:*' group-name ''
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' list-prompt %SAt %p: Hit TAB for more, or the character to insert%s
zstyle ':completion:*' max-errors 1 numeric
zstyle ':completion:*' menu select
zstyle ':completion:*' select-prompt %SScrolling active: current selection at %p%s
zstyle ':completion:*' squeeze-slashes true
zstyle ':completion:*' substitute 1

autoload -Uz compinit
compinit
# End of lines added by compinstall
#
autoload colors
colors
PS1='%0(?.'%{$fg[green]%}'.'%{$fg[red]%}' %? )[%!] %* %n@%m %~ %(!.%B#%b.$)'%{$reset_color%}' '
path=(/usr/local/sbin /usr/local/bin /usr/sbin /usr/bin /sbin /bin /usr/games .)
alias ls='ls --color'
eval `dircolors -b`

autoload zsh-mime-setup
zsh-mime-setup
zstyle ':mime:*' flags needsterminal

function title() {
  # escape '%' chars in $1, make nonprintables visible
  a=${(V)1//\%/\%\%}

  # Truncate command, and join lines.
  a=$(print -Pn "%40>...>$a" | tr -d "\n")

  case $TERM in
  screen)
    print -Pn "\ek$a:$3\e\\"      # screen title (in ^A")
    ;;
  xterm*|rxvt)
    print -Pn "\e]2;$2 | $a:$3\a" # plain xterm title
    ;;
  esac
}

# precmd is called just before the prompt is printed
function precmd() {
  title "zsh" "$USER@%m" "%55<...<%~"
}

# preexec is called just before any command line is executed
function preexec() {
  title "$1" "$USER@%m" "%35<...<%~"
}

# ls aliases
alias la='ls -a'
alias ll='ls -l'
alias ls-plain='ls --color=none' 

# Emacs version
alias emacs='emacs-snapshot'

# Extended history viewing
alias history='history 500'

# Create a system of marks and jumps for a shell, like marks and jumps in Vim
# Save a directory mark
function m {
local jmp_name=$1;
if [ $# = 0 ]; then
    jmp_name=MARK_DEFAULT_A
fi   
eval "${jmp_name}=\"$(pwd)\""	
echo "${jmp_name}=\"$(pwd)\"" >> ~/.zsh.jumps
}

# Jump to a directory (default to marking "MARK_DEFAULT_A")
function j {
local jmp_name=$1;
if [ $# = 0 ]; then
	jmp_name=MARK_DEFAULT_A
fi
eval $(printf "cd \"$%s%s%s\"" "{" ${jmp_name} "}")	
}

# Import saved jumps
eval $(cat ~/.zsh.jumps)

# Nice aliases
alias -g @='&> /dev/null &!'
alias untar='tar -xvvf'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias rgrep='rgrep --color=auto'
alias matlab='/usr/local/bin/matlab/bin/matlab'
function music-random () {
    bash -c "mplayer `ls --color=none -Q | sort -R | sed 's/"$/" \\\\/g'`"
}
alias gcs='$HOME/other/gcs/gcs'
alias home='cd;clear;ls'
alias im-sleep='purple-remote "setstatus?status=away&message=Zzz..."'
alias im-capoeira='sleep 25m; purple-remote "setstatus?status=unavailable&message=Playing capoeira. Not here."; sleep 2h; purple-remote "setstatus?status=available&message=Alive.";'
export PATH=${PATH}:$HOME/.android/tools
export PATH=${PATH}:$HOME/.android/platform-tools
alias restart-adb='adb kill-server; sudo ~/.android/platform-tools/adb start-server; adb devices'
alias install-adb='adb -d uninstall com.game.swerveanddestroy; adb -d install ~/android/destroy/bin/SwerveAndDestroy-debug.apk'
alias mouse-jiggler='while true; do xte "mousermove -100 100"; sleep 1m; done'
